<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Goal</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}"/>
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>-->
</head>
<body>

<div class="form-style-5">
    <!--<form action="/addGoal" method="post">-->
    <form action="#" th:action="@{/child/addGoal}" th:object="${goal}" method="post">
        <fieldset>
            <legend><span class="number">1</span>Nazwa Celu</legend>
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                   class="validation-message"></label>
            <input type="text" th:field="*{name}" placeholder="Nazwa"/>
            <legend><span class="number">2</span>Opis Celu</legend>
            <label th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                   class="validation-message"></label>
            <textarea name="field5" class="textarea-field" rows="12" placeholder="Opis"
                      th:field="*{description}"></textarea>
            <input type="hidden" th:value="${newGoal}"  name="newGoal" />
            <label><span> </span><input type="submit" value="Wyślij"/></label>
        </fieldset>
    </form>
</div>
<span th:utext="${successMessage}"></span>
</div>
</div>
</body>
</html>

<!--<textarea name="field5" class="textarea-field" rows="12"-->
<!--placeholder="Opis celu"-->
<!--th:inline="text">[[${Notes}]]-->
<!--</textarea>-->