<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Exercise</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/buttons.css}"/>
</head>
<body>
</body>
<table class="responstable">

    <thead>
    <tr>
        <th>Opis zadania</th>
        <th>Utworzono</th>
        <th>Liczba punktów</th>
    </tr>
    </thead>
    <tbody>

    <!--<tr th:if="${exercise.empty}">-->
        <!--<td colspan="2"> Brak zadań w bazie </td>-->
    <!--</tr>-->
    <tr th:each="exercise : ${exercises}">
        <td><span th:text="${exercise.getDescription()}"></span></td>
        <td><span th:text="${exercise.getCreated()}"></span></td>
        <td><span th:text="${exercise.getPoints()}"></span></td>
        <!--<td><a th:href="@{'/parent/edit/' + ${child.getId()}}">Edytuj</a>-->
            <!--<a th:href="@{'/parent/delete/' + ${child.getId()}}">Kasuj</a></td>-->
    </tr>
    </tbody>
</table>


<a th:href="@{'/child/addExercise/'}">
    <button>Dodaj Zadanie</button>
</a>
<a th:href="@{'/child/addGoal/'}">
    <button>Dodaj Cel</button>
</a>
<a th:href="@{'/child/goals/'}">
    <button>Moje cele</button>
</a>
<form th:action="@{/logout}" method="get">
    <button type="submit" name="your_name" value="your_value" class="btn-link">Wyloguj</button>
</form>
</body>
</html>
</body>
</html>